WebContent/xsd/lomfr/lomfrUnique.xsd

<xs:schema targetNamespace="http://www.lom-fr.fr/xsd/LOMFR/unique"
           xmlns="http://www.lom-fr.fr/xsd/LOMFR/unique"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           elementFormDefault="qualified"
           version="LOMFR NF Z 76-040 12/2006">


  <xs:attributeGroup name="documentType"/>

  <xs:attributeGroup name="activity"/>

  <xs:attributeGroup name="credit"/>


</xs:schema>
